<div class="container">
    <div class="row align-items-center" style="margin-left:auto; width:80%">
        <div>
            <img src="/ngApp/images/img-logo_CDO.png" height="100" class="align-top" alt="">
        </div>
        <div class="handlee ml-5">
            <p>
                </br>Create, Design, Organize!
                </br>3232 W Aztec Road
                </br>Peoria, AZ 85382
                </br>(623) CDO-John {(623) 696-5646}
                </br>
                </br>
                <a href="mailto:info@createdesignorganize.com?Subject=I%20Have%20a%20Question" class="dark-grey-text" title="Contact Us">
                    info@createdesignorganize.com </a>
            </p>
        </div>
    </div>
</div>