<!-- MAIN LAYOUT -->
<main class="mt-5">

    <!-- Main Container -->
    <div class="container">
        <!--Grid Row 1-->
        <div class="row">
            <!--Grid Row 1 Colummn 1--> 
            <div class="col-md-5">

                <div class="view overlay hm-white-light z-depth-1-half mb-5 pic-radius-all centerimg" oncontextmenu="return disableRightClick();">
                    <img src="/ngApp/images/gif-chimp-playing-cymbols.gif" width="70%" class="img-fluid mt-3" style="margin-left:45px" alt="Chimp" /><span class="handlee centertxt">Element: Cymbol-Playing Chimp</span>
                    <hr class="hr-gradient-top mt-5 mb-5" />
                    <img src="/ngApp/images/gif-squirrelplayingharmonica.gif" width="70%" class="img-fluid mb-3" style="margin-left:45px" alt="Harmonica" /><span class="handlee centertxt">Element: Harmonica</span>
                    <div class="mask"></div>
                </div>

            </div>
            <!--./Grid Row 1 Colummn 1-->

            <!--Grid Row 1 Colummn 2-->
            <div class="view overlay z-depth-4 col-md-7 mb-5 teal lighten-4 pic-radius-all">
                <h2 class="permanentmarker mt-3">Project Grading Criteria</h2>
                <h4 class="handlee">
                    <strong>Elements Included as Per Woz U Career Services Requirements</strong>
                    <img src="/ngApp/images/img-wozu.png" class="img-fluid mt-5" alt="wozu" />
                </h4>
                <hr />
                <p class="handlee ml-3 mr-3" style="font-size: large">
                    As per requirements as set forth by Brent Watson, the following are included in the project:
                    <ul class="permanentmarker">
                    <li>Cymbol-Playing Chimp</li></br>
                    <li>Harmonica</li></br>
                    <li>Live Chicken</li></br>
                    <li>Sign Spinner</li></br>
                    <li>Lemonade Stand</li></br>
                    <li>Llama (non-spitting)</li>
                    </ul>
                </p>
            </div>
            <!--./Grid Row 1 Colummn 2-->

        </div>
        <!--./Grid Row 1-->

        <hr class="hr-gradient-top mt-5 mb-5" />
        <span class="handlee" style="font-size:large">
            <i class="fas fa-bomb mr-3"></i>Click Images at Your Own Risk!</span>

        <!--Grid Row 2-->
        <div class="row">

            <!--Grid Row 2 Column 1 ng-repeat line 48-->
            <div class="col-lg-3 col-md-12 mb-4" oncontextmenu="return disableRightClick();">

                <!-- Day Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight z-depth-3">
                        <a href="/ngApp/images/gif-live-chicken.gif" data-lightbox="image-day" data-title="Live Chicken">
                            <img src="/ngApp/images/img-foghornleghorn.jpg" class="img-fluid" alt="chicken">
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body z-depth-4">
                        <!--Title-->
                        <h4 class="card-title handlee ml-3 mt-3">
                            <strong>Element: Live Chicken</strong>
                        </h4>
                        <!--Text-->
                        <p class="card-text handlee ml-3 mr-3" style="font-size:medium; color:red">Foghorn Leghorn is the classic Rooster in charge.  Not to disapoint, there is a live chicken hiding in the kitchen</p>
                    </div>
                </div>
                <!-- ./Day Card -->
            </div>
            <!--./Grid 2 Column 1-->

            <!--Grid Row 2 Column 2-->
            <div class="col-lg-3 col-md-6 mb-4" oncontextmenu="return disableRightClick();">

                <!--Week Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight z-depth-3">
                        <a href="ngApp/images/img-beiber.png" data-lightbox="image-week" data-title="Sorry, Just Can't Do Beiber">
                            <img src="/ngApp/images/gif-southpark-sign-spinning.gif" class="img-fluid" alt="Spinner">

                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body z-depth-4">
                        <!--Title-->
                        <h4 class="card-title handlee ml-3 mt-3">
                            <strong>Element: Sign Spinner</strong>
                        </h4>
                        <!--Text-->
                        <p class="card-text handlee ml-3 mr-3" style="font-size:medium; color:orange">Sign spinning is an art, and there are even schools dedicated to teaching the skill.  Looks like South Park could use some education!  But hey, what about Beiber?</p>
                    </div>

                </div>
                <!-- ./Week Card -->
            </div>
            <!--./Grid Row 2 Column 2-->

            <!--Grid Row 2 Column 3-->
            <div class="col-lg-3 col-md-6 mb-4" oncontextmenu="return disableRightClick();">

                <!--Month Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight z-depth-3">
                        <a href="/ngApp/images/gif-lemonade-stand.gif" data-lightbox="image-month" data-title="Peter Goes Ballistic">
                            <img src="/ngApp/images/img-lemonadestand.jpg" class="img-fluid" alt="lemonade">
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body z-depth-4">
                        <!--Title-->
                        <h4 class="card-title handlee ml-3 mt-3">
                            <strong>Element: Lemonade Stand</strong>
                        </h4>
                        <!--Text-->
                        <p class="card-text handlee ml-3 mr-3" style="font-size:medium; color:blue">Lemonade stands are a summer icon. Family Guy's Peter loves lemonade.  Or does he?  Hmm...</p>
                    </div>
                </div>
                <!-- ./Month Card -->
            </div>
            <!--Grid Row 2 Column 3-->

            <!--Grid Row 2 Column 4-->
            <div class="col-lg-3 col-md-6 mb-4" oncontextmenu="return disableRightClick();">

                <!--Year Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight z-depth-3">
                        <a href="/ngApp/images/gif-laughing-goat.gif" data-lightbox="image-year" data-title="Hi Brent!">
                            <img src="/ngApp/images/img-llama.jpg" class="img-fluid" alt="goat">
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body z-depth-4">
                        <!--Title-->
                        <h4 class="card-title handlee ml-3 mt-3">
                            <strong>Element: Non-Spitting Llama</strong>
                        </h4>
                        <!--Text-->
                        <p class="card-text handlee ml-3 mb-3" style="font-size:medium; color:olivedrab">Say "Hi" to Chip, the hipster Llama!  Does he spit?  Of course not.  Don't be surprised if his cousin shows his true colors...</p>
                    </div>
                </div>
                <!-- ./Year Card -->
            </div>
            <!--Grid Row 2 Column 4-->
        </div>
        <!--./Grid Row 2-->

        <hr class="hr-gradient-btm mt-5 mb-5" />

    </div>
    <!-- ./Main Container -->
</main>
<!-- ./MAIN LAYOUT -->