<!-- LANDING / LOGIN PAGE -->
<!-- MAIN LAYOUT -->
<main class="mt-5">
    
    <!-- Main Container -->
    <div class="container">
        <hr class="hr-gradient-top mt-5 mb-5" />
        <div style="display: flex; justify-content: center;">
            <img class="animated rubberBand" src="/ngApp/images/img-logo_CDO_noText.png" height="150" align="middle" alt="">
        </div>
                <section>
                    <div class="inner">
                        <div class="content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <section class="animated bounceInUp">
                                        <h1><strong>Create, Design, Organize!</strong></h1>
                                    </section>
                                </div>
                            </div>
                            
                            <div class="row mb-5">
                                <div class="col-sm-12">
                                    <section class="animated bounceInUp">
                                        <a class="btnLand mr-5" href="/register"><i class="fas fa-user mr-2"></i>Register</a>
                                        <a class="btnLand ml-5" href="/login"><i class="fas fa-sign-in-alt mr-2"></i>Login</a>
                                    </section>
                                </div>
                            </div>
                            
                            <div class="row mt-5">
                                <div class="col-sm-12">
                                    <section class="animated bounceInUp">
                                        <a class="btnLand" href="/main"><i class="fas fa-users mr-2"></i>Continue as Guest</a>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
                <hr class="hr-gradient-btm mt-5 mb-5" />
                
            </div>
            <!-- ./Main Container -->
        </main>
        <!-- ./MAIN LAYOUT -->
        
        


