<div class="mx-auto p-3 bg-red text-white rounded-circle mb-5 mt-5 animated rubberBand" style="text-align:center; width:60%">
    <h3 class="handlee">
        <div class="mt-4 mb-3 ml-5">
            <i class="fa fa-superpowers fa-lg mr-3" aria-hidden="true"></i>
            <strong>Catastrophic Network Error ~ ABORT!!</strong>
            <i class="fa fa-superpowers fa-lg ml-3" aria-hidden="true"></i>
        </div>
    </h3>
</div>
<hr style="border-style:ridge; border-width:5px; border-color:gray; width:75%" />
<div class="mx-auto w-50 p-3 text-black text-center animated lightSpeedIn">
    <h3 class="handlee">
        <i class="fa fa-home mr-3"></i>
        <a href="/main" class="dark-grey-text">
            <strong>Git on home!! There's chores awaitin' !...</strong>
            <br />
            <em class="rocksalt" style="font-size: 20px">-your Mother</em>
        </a>
    </h3>
</div>