<!-- MAIN LAYOUT -->
<main class="mt-5">
    
    <!-- Main Container -->
    <div class="container">
        <!--Grid Row 1-->
        <div class="row">
            <!--Grid Row 1 Colummn 1-->
            <div class="col-md-5">

                <div class="view overlay hm-white-light z-depth-1-half mb-5 pic-radius-all" oncontextmenu="return disableRightClick();">
                    <img src="/ngApp/images/img-bulletjournal-sample-planner.jpg" class="img-fluid" alt="Sample" />
                    <div class="mask"></div>
                </div>

            </div>
            <!--./Grid Row 1 Colummn 1-->

            <!--Grid Row 1 Colummn 2-->
            <div class="view overlay z-depth-4 col-md-7 mb-5 teal lighten-4 pic-radius-all">
                <h2 class="permanentmarker mt-3">Planners</h2>
                <h4 class="handlee">
                    <strong>Organize your Day, Week, Month or Whatever!</strong>
                </h4>
                <hr />
                <p class="handlee ml-3 mr-3">
                    Don't be swayed by those who say the concept that Bullet Journaling is time-consuming and that you will spend more time planning than actually doing the things. That simply does not have to be true. Maintaining a Bullet Journal and making it work for you can seem like a daunting task at first, but we're here to assure you that it doesn’t need to be. Even with doodles and artfu entries, you only need to spend an minimal amount of time each day in your Journal. Sure, there are lazy Sunday afternoons where you might dive in and spend a couple of relaxing hours being creative and artistic, but the vast majority of the time that you spend completely up to you. You may find yourself spending time planning, assessing progress, looking back at previous entries and evaluating/improving my system.  It's really up to you!
                </p>
            </div>
            <!--./Grid Row 1 Colummn 2-->

        </div>
        <!--./Grid Row 1-->

        <hr class="hr-gradient-top mt-5 mb-5" />
        <span class="handlee" style="font-size:large">
            <i class="fas fa-expand-arrows-alt mr-3"></i>Click Images for Larger View</span>

        <!--Grid Row 2-->
        <div class="row">

            <!--Grid Row 2 Column 1 ng-repeat line 48-->
            <div class="col-lg-3 col-md-12 mb-4" oncontextmenu="return disableRightClick();">  

                <!-- Day Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight z-depth-3">
                        <a href="/ngApp/images/img-planday.png" data-lightbox="image-day" data-title="MyDay">
                            <img src="/ngApp/images/img-planday.png" class="img-fluid" alt="day">
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body z-depth-4">
                        <!--Title-->
                        <h4 class="card-title handlee ml-3 mt-3">
                            <strong>Get Control of Your Day!</strong>
                        </h4>
                        <!--Text-->
                        <p class="card-text handlee ml-3 mr-3" style="font-size:small">Take control, plan your day!  Jot down your plans, goals, todo lists, meetings, whatever you need to accomplish today.  Make it yours, personalize the page - you can do this!</p>
                        <a href="#" id="dayPage" class="btn btn-teal lighten-4 btn-handlee ml-3 mb-2">Add To Cart</a>
                    </div>
                </div>
                <!-- ./Day Card -->
            </div>
            <!--./Grid 2 Column 1-->

            <!--Grid Row 2 Column 2-->
            <div class="col-lg-3 col-md-6 mb-4" oncontextmenu="return disableRightClick();">

                <!--Week Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight z-depth-3">
                        <a href="/ngApp/images/img-planweek.png" data-lightbox="image-week" data-title="MyWeek">
                            <img src="/ngApp/images/img-planweek.png" class="img-fluid" alt="week"> 

                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body z-depth-4">
                        <!--Title-->
                        <h4 class="card-title handlee ml-3 mt-3">
                            <strong>Track Your Week!</strong>
                        </h4>
                        <!--Text-->
                        <p class="card-text handlee ml-3 mr-3" style="font-size:small">Need to take a look at your upcoming schedule? What's happening next Tuesday?  Where is the lacrosse game this Saturday?  Take your week and OWN it!</p>
                        <a href="#" id="weekPage" class="btn btn-teal lighten-4 btn-handlee ml-3 mb-2">Add To Cart</a>
                    </div>

                </div>
                <!-- ./Week Card -->
            </div>
            <!--./Grid Row 2 Column 2-->
            
            <!--Grid Row 2 Column 3-->
            <div class="col-lg-3 col-md-6 mb-4" oncontextmenu="return disableRightClick();">

                <!--Month Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight z-depth-3">
                        <a href="/ngApp/images/img-planmonth.png" data-lightbox="image-month" data-title="MyMonth">
                            <img src="/ngApp/images/img-planmonth.png" class="img-fluid" alt="month">
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body z-depth-4">
                        <!--Title-->
                        <h4 class="card-title handlee ml-3 mt-3">
                            <strong>Your Month in View!</strong>
                        </h4>
                        <!--Text-->
                        <p class="card-text handlee ml-3 mr-3" style="font-size:small">Plan further out and dont' forget the boss's birthday!  It's already October?  Better start planning for the Holidays! Grab your month by the horns!</p>
                        <a href="#" id="monthPage" class="btn btn-teal lighten-4 btn-handlee ml-3 mb-2">Add To Cart</a>
                    </div>
                </div>
                <!-- ./Month Card -->
            </div>
            <!--Grid Row 2 Column 3-->

            <!--Grid Row 2 Column 4-->
            <div class="col-lg-3 col-md-6 mb-4" oncontextmenu="return disableRightClick();">

                <!--Year Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight z-depth-3">
                        <a href="/ngApp/images/img-planyear.png" data-lightbox="image-year" data-title="MyYear">
                            <img src="/ngApp/images/img-planyear.png" class="img-fluid" alt="year">
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body z-depth-4">
                        <!--Title-->
                        <h4 class="card-title handlee ml-3 mt-3">
                            <strong>Plan Your Future!</strong>
                        </h4>
                        <!--Text-->
                        <p class="card-text handlee ml-3 mb-3" style="font-size:small">There are so many things to remeber for this year, how can you possibly get control and stay organized?  Use a yearly planner to help re-gain the conrtol you know you need but don't know how!</p>
                        <a href="#" id="yearPage" class="btn btn-teal lighten-4 btn-handlee ml-3 mb-2">Add To Cart</a>

                    </div>
                </div>
                <!-- ./Year Card -->
            </div>
            <!--Grid Row 2 Column 4-->
        </div>
        <!--./Grid Row 2-->

        <hr class="hr-gradient-btm mt-5 mb-5" />

    </div>
    <!-- ./Main Container -->
</main>
<!-- ./MAIN LAYOUT -->