/* Main Body */

body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F5F5F5;
}


/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/*Site Fonts*/

.rocksalt {
    font-family: 'Rock Salt', cursive;
}

.permanentmarker {
    font-family: 'Permanent Marker', cursive;
}

.shadowsintolighttwo {
    font-family: 'Shadows Into Light Two', cursive;
}

.handlee {
    font-family: 'Handlee', cursive;
}

.btn-handlee {
    font-family: 'Handlee', cursive;
    font-size: smaller;
    text-transform: capitalize;
}

.justanotherhand {
    font-family: 'Just-Another-Hand', cursive;
}

.gochihand {
    font-family: 'Gochi Hand', cursive;
}

.fa-shadow {
    color: darkgrey;
    text-shadow: 2px 2px 4px #B2DFDB;
}


/*Navbar Fonts*/

.nav-rocksalt {
    font-family: 'Rock Salt', cursive;
    font-size: small;
    font-weight: bold;
}

.nav-permanentmarker {
    font-family: 'Permanent Marker', cursive;
    font-size: 15px;
}

.nav-shadowsintolighttwo {
    font-family: 'Shadows Into Light Two', cursive;
    /*font-size: 20px;*/
}

.nav-handlee {
    font-family: 'Handlee', cursive;
    font-size: large;
}


/* General Styles */

.table {
    display: table;
    /* Allow the centering to work */
    margin: 0 auto;
}

.ul#horizontal-list {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
}

.ul#horizontal-list li {
    display: inline;
}

.pic-radius-left {
    border-radius: 12px 0px 0px 12px;
}

.pic-radius-right {
    border-radius: 0px 12px 12px 0px;
}

.pic-radius-all {
    border-radius: 10px;
}


/*Login Page*/

.legend {
    font-weight: 700;
    color: black;
    font-size: 26px;
    margin-bottom: 10px;
}

.customizedPrimaryBtn:hover {
    background: #003635;
    color: white;
    border: none;
}

.customizedPrimaryBtn {
    background: #21D192;
    color: white;
    border: none;
}

.customizedPrimaryBtn:VISITED {
    background: #066;
    color: white;
    border: none;
}

.customizedPrimaryBtn:ACTIVE {
    background: #003635;
    color: white;
    border: none;
}


/*Registration Page*/

@media only screen and (max-device-width:540px) {
    .mobileLabel {
        text-align: left;
    }
    .mobilePad {
        margin-left: 4em;
    }
}

@media only screen and (max-device-width:750px) and (orientation:landscape) {
    .mobileLabel {
        text-align: left;
    }
    .mobilePad {
        margin-left: 11%;
    }
}

.boxStyle {
    margin-left: 20%;
    width: 60%;
}


/* Over 768px width (larger than iPad portrait) */

@media ( min-width: 769px) {
    .grid-divider {
        position: relative;
        padding: 0;
    }
    .grid-divider>[class*='col-'] {
        position: static;
    }
    .grid-divider>[class*='col-']:nth-child(n+2):before {
        content: "";
        border-left: 3px solid #DDD;
        box-shadow: 2px 2px 10px #3c3c3c;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .col-padding {
        padding: 0 15px;
    }
}


/*Shopping Cart*/

h3 span {
    font-size: 14px;
    display: block;
}


/* Dividing Lines w/Gradient*/

.hr-gradient-btm {
    height: 15px;
    border-radius: 5px;
    background-color: slategray;
    background: linear-gradient(to left top, purple, lightgray);
}

.hr-gradient-top {
    height: 15px;
    border-radius: 5px;
    background-color: slategray;
    background: linear-gradient(to right top, purple, lightgray);
}


/* Landing Page */

.intro {
    height: 50%;
    width: 50%;
    margin: auto;
    background-size: cover;
    display: table;
    top: 0;
}

.intro .inner {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    max-width: none;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 2%;
}

.content h1 {
    font-family: 'Rock Salt', sans-serif;
    font-size: 250%;
    font-weight: 100;
    color: black;
    line-height: 300%;
}

.btnLand {
    font-family: 'Montserrrat', sans-serif;
    font-size: 135%;
    font-weight: 400;
    color: #3A6168;
    text-transform: uppercase;
    text-decoration: none;
    border: solid #3A6168;
    padding: 10px 20px;
    border-radius: 9px;
}

.bckgrndLand {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .1;
}

.mainLand {
    opacity: 1;
}


/* LOGIN */

body {
    background: #DCDDDF url(https://cssdeck.com/uploads/media/items/7/7AF2Qzt.png);
    color: #000;
    font: 14px Arial;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #563D64;
}

small {
    font-size: 10px;
}

b,
strong {
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.left {
    float: left;
}

.right {
    float: right;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.clearfix:after,
form:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.container {
    margin: 25px auto;
    position: relative;
    width: 900px;
}

#content {
    background: #f9f9f9;
    background: -moz-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: -o-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: -ms-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9', GradientType=0);
    -webkit-box-shadow: 0 1px 0 #fff inset;
    -moz-box-shadow: 0 1px 0 #fff inset;
    -ms-box-shadow: 0 1px 0 #fff inset;
    -o-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset;
    border: 1px solid #c4c6ca;
    margin: 0 auto;
    padding: 25px 0 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: 500px;
}

#content h1 {
    color: #7E7E7E;
    font: bold 25px Helvetica, Arial, sans-serif;
    letter-spacing: -0.05em;
    line-height: 20px;
    margin: 10px 0 30px;
}

#content h1:before,
#content h1:after {
    content: "";
    height: 1px;
    position: absolute;
    top: 10px;
    width: 27%;
}

#content h1:after {
    background: rgb(126, 126, 126);
    background: -moz-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    right: 0;
}

#content h1:before {
    background: rgb(126, 126, 126);
    background: -moz-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    left: 0;
}

#content:after,
#content:before {
    background: #f9f9f9;
    background: -moz-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: -o-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: -ms-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9', GradientType=0);
    border: 1px solid #c4c6ca;
    content: "";
    display: block;
    height: 100%;
    left: -1px;
    position: absolute;
    width: 100%;
}

#content:after {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
    top: 0;
    z-index: -1;
}

#content:before {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
    top: 0;
    z-index: -2;
}

#content form {
    margin: 0 20px;
    position: relative
}

#content form input[type="text"],
#content form input[type="password"] {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #eae7e7 url(https://cssdeck.com/uploads/media/items/8/8bcLQqF.png) no-repeat;
    border: 1px solid #c8c8c8;
    color: #777;
    font: 13px Helvetica, Arial, sans-serif;
    margin: 0 0 10px;
    padding: 15px 10px 15px 40px;
    width: 80%;
}

#content form input[type="text"]:focus,
#content form input[type="password"]:focus {
    -webkit-box-shadow: 0 0 2px #ed1c24 inset;
    -moz-box-shadow: 0 0 2px #ed1c24 inset;
    -ms-box-shadow: 0 0 2px #ed1c24 inset;
    -o-box-shadow: 0 0 2px #ed1c24 inset;
    box-shadow: 0 0 2px #ed1c24 inset;
    background-color: #fff;
    border: 1px solid #ed1c24;
    outline: none;
}

#username {
    background-position: 10px 10px !important
}

#password {
    background-position: 10px -53px !important
}

#content form input[type="submit"] {
    background: rgb(254, 231, 154);
    background: -moz-linear-gradient(top, rgba(254, 231, 154, 1) 0%, rgba(254, 193, 81, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(254, 231, 154, 1) 0%, rgba(254, 193, 81, 1) 100%);
    background: -o-linear-gradient(top, rgba(254, 231, 154, 1) 0%, rgba(254, 193, 81, 1) 100%);
    background: -ms-linear-gradient(top, rgba(254, 231, 154, 1) 0%, rgba(254, 193, 81, 1) 100%);
    background: linear-gradient(top, rgba(254, 231, 154, 1) 0%, rgba(254, 193, 81, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee79a', endColorstr='#fec151', GradientType=0);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -ms-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    border: 1px solid #D69E31;
    color: #85592e;
    cursor: pointer;
    float: left;
    font: bold 15px Helvetica, Arial, sans-serif;
    height: 35px;
    margin: 20px 0 35px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    width: 120px;
}

#content form input[type="submit"]:hover {
    background: rgb(254, 193, 81);
    background: -moz-linear-gradient(top, rgba(254, 193, 81, 1) 0%, rgba(254, 231, 154, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(254, 193, 81, 1) 0%, rgba(254, 231, 154, 1) 100%);
    background: -o-linear-gradient(top, rgba(254, 193, 81, 1) 0%, rgba(254, 231, 154, 1) 100%);
    background: -ms-linear-gradient(top, rgba(254, 193, 81, 1) 0%, rgba(254, 231, 154, 1) 100%);
    background: linear-gradient(top, rgba(254, 193, 81, 1) 0%, rgba(254, 231, 154, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec151', endColorstr='#fee79a', GradientType=0);
}

#content form div a {
    color: #004a80;
    float: right;
    font-size: 12px;
    margin: 30px 15px 0 0;
    text-decoration: underline;
}

.button {
    background: rgb(247, 249, 250);
    background: -moz-linear-gradient(top, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
    background: -o-linear-gradient(top, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
    background: -ms-linear-gradient(top, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
    background: linear-gradient(top, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f9fa', endColorstr='#f0f0f0', GradientType=0);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #CFD5D9;
    padding: 15px 0;
}

.button a {
    background: url(https://cssdeck.com/uploads/media/items/8/8bcLQqF.png) 0 -112px no-repeat;
    color: #7E7E7E;
    font-size: 17px;
    padding: 2px 0 2px 40px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.button a:hover {
    background-position: 0 -135px;
    color: #00aeef;
}


/* REGISTER */

#wrapper {
    width: 450px;
    margin: 0 auto;
    font-family: Verdana, sans-serif;
}

legend {
    color: #0481b1;
    font-size: 16px;
    padding: 0 10px;
    background: #fff;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 5px rgba(4, 129, 177, 0.5);
    padding: 5px 10px;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

fieldset {
    border-radius: 4px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #f9fdff);
    background: -o-linear-gradient(#fff, #f9fdff);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f9fdff));
    / background: -webkit-linear-gradient(#fff, #f9fdff);
    padding: 20px;
    border-color: rgba(4, 129, 177, 0.4);
}

input,
textarea {
    color: #373737;
    background: #fff;
    border: 1px solid #CCCCCC;
    color: #aaa;
    font-size: 14px;
    line-height: 1.2em;
    margin-bottom: 15px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
}

input[type="text"],
input[type="password"] {
    padding: 8px 6px;
    height: 22px;
    width: 280px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    background: #f5fcfe;
    text-indent: 0;
    z-index: 1;
    color: #373737;
    -webkit-transition-duration: 400ms;
    -webkit-transition-property: width, background;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: 400ms;
    -moz-transition-property: width, background;
    -moz-transition-timing-function: ease;
    -o-transition-duration: 400ms;
    -o-transition-property: width, background;
    -o-transition-timing-function: ease;
    width: 380px;
    border-color: #ccc;
    box-shadow: 0 0 5px rgba(4, 129, 177, 0.5);
    opacity: 0.6;
}

input[type="submit"] {
    background: #222;
    border: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    color: #eee;
    cursor: pointer;
    font-size: 15px;
    margin: 5px 0;
    padding: 5px 22px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

textarea {
    padding: 3px;
    width: 96%;
    height: 100px;
}

textarea:focus {
    background: #ebf8fd;
    text-indent: 0;
    z-index: 1;
    color: #373737;
    opacity: 0.6;
    box-shadow: 0 0 5px rgba(4, 129, 177, 0.5);
    border-color: #ccc;
}

.small {
    line-height: 14px;
    font-size: 12px;
    color: #999898;
    margin-bottom: 3px;
}

.loginName {
    color: #8EB2AF;
}

.centerimg {
    margin: auto;
    padding: 10px;
    border: 5px solid #B2DFDB;
}

.centertxt {
    margin: auto;
    padding: 10px;
}